
# sphinx server connection details
sphinx.dataSource.host=localhost
sphinx.dataSource.port=9312

# pooling
sphinx.dataSource.testOnBorrow=false
sphinx.dataSource.testOnReturn=false
sphinx.dataSource.minIdle=0
sphinx.dataSource.maxIdle=8
sphinx.dataSource.maxTotal=8

